.AddList {
  background-color: rgb(131, 94, 67);
  width: 50px;
  height: auto;
  flex: 1;
  cursor: pointer;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.ColorChanger{
  background-color:red;
  width:30px;
  height:30px;
  margin-top:177px;
  color:white;
  font-size:8px;
  cursor:pointer;
}
.ToDoTitle{
  display:flex;
  align-items: center;
  justify-content: center;
  color:rgb(91, 75, 58);
  background-color: rgb(207, 178, 166);
}

.CompleteTitle{
  display:flex;
  align-items: center;
  justify-content: center;
  color:rgb(91, 75, 58);
  background-color: rgb(207, 178, 166);
}
.ListItem {
  height: 70px;
  display: flex;
  align-items: center;
  
}

.NameTemplate {
  height: 70px;
  background-color: rgb(154, 127, 98);
  display: flex;
  font-size: 26px;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

.ToDoInsert {
  background-color: red;
  width: 100%;
  height: auto;
  min-height: 40px;
  display: flex;
}

.ToDoText {
  background-color: rgb(255, 255, 255);
  width: 450px;
  resize: none;
  border: none;
  outline: none;
  display: flex;
  color: white;
  font-size: 16px;
  padding-left: 5px;
}

.TodoList {
  width: 100%;
  flex: 1;
}

.TodoTemplate {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  width: 500px;
  height: auto;
  
  background-color: aliceblue;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.DeleteAll{
  width:20%;
  margin-left:80%;
  color:aliceblue;
  display:flex;
  align-items: center;
  justify-content: center;
  height:30px;
  background-color:rgb(255, 100, 100);
  cursor:pointer;
}
.OrderChanger {
  width:15px;
  background-color:rgb(159, 159, 159);
  height:100%;
  cursor:pointer;
  flex: 0 0 auto;
}

.html {
  height: 100%;
}

.listText {
  width: 250px;
  border: none;
  font-size:14px;
  /*outline:none;*/
  outline: none;
  background-color: aliceblue;
}

.listText_lt {
  border: none;
  outline: none;
  font-size:14px;
  text-decoration: line-through;
  color: gray;
  background-color: aliceblue;
  
}

img {
  /* width: 20px;
  height: 20px; */
  object-fit: cover;
}
.ListUp {
  background-color : rgb(220, 220, 220);
}
.ListUp:hover{
  background-color : rgb(186, 186, 186);
}
.ListDown {
  background-color: rgb(220, 220, 220);
}
.ListDown:hover{
  background-color : rgb(186, 186, 186);
}
.modify {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text {
  flex: 0 0 auto;
  width: 380px;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  /* color:rgb(192, 129, 255) */
}
